html {
  color: #ffffff;
  background-color: #000000;
  font-family: "Lucida Grande", sans-serif;
}

/* Text */

h1 {
  display: block;
  text-align: center;
  font-size: 64px;
}

h2 {
  font-size: 30px;
  text-shadow: 5px 5px 2px #808080;
}

p {
  font-size: 24px;
  padding-top: 20px;
}

/* Images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 525px;
  height: auto;
}

/* Divs */

div {
  height: 150px;
  padding: 25px;
}

/* IDs */

#intro p, #red p, #blue p, #green p {
  color: #ffffff;
}
#yellow h2, p {
  color: #000000;
}
#yellow h2 {
  text-shadow: 5px 5px 2px #c7e2c7;
}
#intro, #blue, #green {
  text-align: left;
}
#red, #yellow {
  text-align: right;
}
#red {
  background-color: #ff0000;
}
#blue {
  background-color: #0000ff;
}
#yellow {
  background-color: #ffff00;
}
#green {
  background-color: #008000;
}

/* footer */

footer p {
  color: #ffffff;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
}
